<div class="d-flex justify-content-center align-items-center">
  <div style="margin-top: 50px;">

<h1>Cadastrar Produto</h1>

<form [formGroup]="produtoForm" (submit)="enviar()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Nome do produto</label>
      <input type="text" class="form-control" id="nome" formControlName="nome">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Código de Barras</label>
      <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" >Preço</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="nav-link" routerLink="/produtos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <button class="btn btn-secondary btn-lg" type="button" [disabled]="produtoForm.invalid">Voltar</button>
        </a>
    <button class="btn btn-primary btn-lg" type="submit" [disabled]="produtoForm.invalid">Cadastrar</button>
    </div>
  </form>

  </div>
</div>