<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Código de Barras</th>
        <th scope="col">Preço</th>
        <th scope="col" >Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produto">
        <td scope="row">{{produto.nome}}</td>
        <td>{{produto.codigoBarras}}</td>
        <td>{{produto.preco}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example" > 
              <a class="nav-link active" aria-current="page" [routerLink]="'/produtos/editar/' + produto.id">
                <button type="button" class="btn btn-warning">Editar</button>
            </a>
                <button type="button" class="btn btn-danger" (click)="deletar(produto.id)">Excluir</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="nav-link active" aria-current="page" routerLink="/produtos/cadastrar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <button type="button" class="btn btn-primary btn-lg">Cadastrar produto</button>
    </a>
  </div>
