<div class="d-flex justify-content-center align-items-center">
  <div style="margin-top: 50px;">
    
    <h1>Editar Produto</h1>

      <form [formGroup]="produtoForm" (submit)="atualizarProdutos()" novalidate>
      
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do produto</label>
          <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome do produto"
        
          [ngClass]="{ 'is-invalid': produtoForm.get('nome')?.invalid && (produtoForm.get('nome')?.dirty || produtoForm.get('nome')?.touched) }">
  
          <div class="invalid-feedback">
             <div *ngIf="produtoForm.get('nome')?.hasError('required')">
                CAMPO OBRIGATÓRIO!
             </div>
            <div *ngIf="produtoForm.get('nome')?.hasError('maxlength')">
                O NOME DEVE TER NO MÁXIO 100 CARACTERES!
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="codigoBarras" class="form-label">Código de Barras</label>
           <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras" placeholder="Digite o código de barras"

          [ngClass]="{ 'is-invalid': produtoForm.get('codigoBarras')?.invalid && (produtoForm.get('codigoBarras')?.dirty || produtoForm.get('codigoBarras')?.touched) }">

          <div class="invalid-feedback">
            <div *ngIf="produtoForm.get('codigoBarras')?.hasError('required')">
              CAMPO OBRIGATÓRIO!
            </div>
            <div *ngIf="produtoForm.get('codigoBarras')?.hasError('maxlength')">
             O CÓDIGO DE BARRAS DEVE TER NO MÁXIO 30 CARACTERES!
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="preco" class="form-label" >Preço</label>
          <input type="text"  placeholder="Preço" class="form-control" id="preco" formControlName="preco"
    
          [ngClass]="{ 'is-invalid': produtoForm.get('preco')?.invalid && (produtoForm.get('preco')?.dirty || produtoForm.get('preco')?.touched) }">

          <div class="invalid-feedback">
            <div *ngIf="produtoForm.get('preco')?.hasError('required')">
                CAMPO OBRIGATÓRIO!
            </div>
            <div *ngIf="produtoForm.get('preco')?.hasError('max')">
                 O PREÇO DEVE TER NO MÁXIO 5 CARACTERES!
             </div>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <a class="nav-link" routerLink="/produtos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <button class="btn btn-secondary btn-lg" type="button" [disabled]="produtoForm.invalid">Voltar</button>
          </a>
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="produtoForm.invalid">Salvar</button>
        </div>

      </form>
  </div>
</div>