<div class="d-flex justify-content-center align-items-center">
<div style="margin-top: 50px;">
<h1>Editar Produto</h1>

<form [formGroup]="produtoForm" (submit)="atualizarProdutos()" novalidate>
    <div class="mb-3">
      <label for="nome" class="form-label" >Nome do produto *</label>
      <input type="text" class="form-control" id="nome" formControlName="nome">
      <div class="invalid-feedback">
        Nome obrigaatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Código de Barras *</label>
      <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
    </div>
    <div class="mb-3">
        <label for="number" class="form-label" >Preço *</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="nav-link" routerLink="/produtos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <button class="btn btn-secondary btn-lg" type="button" [disabled]="produtoForm.invalid">Voltar</button>
        </a>
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="produtoForm.invalid">Salvar</button>
      </div>
    </form>
</div>