<h1>Editar Produto</h1>

<form [formGroup]="produtoForm" (submit)="atualizarProdutos()" novalidate>
    <div class="mb-3">
      <label for="nome" class="form-label" >Nome do produto *</label>
      <input type="text" class="form-control" id="nome" formControlName="nome">
      <div class="invalid-feedback">
        Nome obrigaatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Código de Barras *</label>
      <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
    </div>
    <div class="mb-3">
        <label for="number" class="form-label" >Preço *</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="produtoForm.invalid">Salvar</button>
    </form>
